<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-wrapper">
		{{!-- Sheet Header --}}
		<div class="sheet-header">
			<input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
			<div class="cell cell--image">
				<img class="profile-img" src="{{actor.img}}" data-edit="img" />
			</div>
		</div>

		<section class="sheet-top">
			<section class="sheet-attributes-top">
				{{~> "pbta.actor-attributes" attrs=system.attrTop cssClass="cell--attributes-top" owner=owner editable=editable ~}}
			</section>
		</section>

		<section class="sheet-bottom flexrow">
			{{!-- Sidebar --}}
			{{#if (objLen system.attrLeft)}}
			<section>
				<div class="cell cell--aesthetics">
					{{> "pbta.actor-attributes" attrs=system.attrLeft cssClass="cell--attributes-left" owner=owner editable=editable}}
				</div>
			</section>
			{{/if}}

			{{!-- Main --}}
			<section class="sheet-main flexcol">
				{{!-- Sheet Tab Navigation --}}
				<nav class="sheet-tabs tabs" data-group="primary">
					<a class="item" data-tab="tables">{{localize "US2E.CityHubSheets.tabs.tables.label"}}</a>
					<a class="item" data-tab="moves">{{localize "PBTA.Moves"}}</a>
					<a class="item" data-tab="connections">{{localize "US2E.CityHubSheets.tabs.connections.label"}}</a>
				</nav>

				{{!-- Sheet Body --}}
				<section class="sheet-body">
					{{!-- Tables Tab --}}
					{{> "modules/urban-shadows-pbta/templates/parts/city-hub-tab-tables.hbs" attrs=system.tablesAttributes }}

					{{!-- Moves Tab --}}
					{{> "pbta.actor-movelist" }}

					{{!-- Connections Tab --}}
					{{> "modules/urban-shadows-pbta/templates/parts/city-hub-tab-connections.hbs" attrs=system.connectionsAttributes }}
				</section>
			</section>
		</section>
	</div>
	</form>
